# Task
Analyze the provided CSV data to build a regression model that predicts student study time based on the features `reads_books`, `book_genre_top1`, and `screen_time_movies_series_hours_per_week`, using `books_read_past_year` as a proxy for study hours. The goal is to enable better mentorship allocation. "/content/drive/MyDrive/Study Material - 3rd Year - BTech - ML/Mini Project/Data Collection for ML mini project (Responses) - Form Responses 1.csv"

## Load the data

### Subtask:
Load the dataset from the provided CSV file into a pandas DataFrame.

**Reasoning**:
Import pandas and load the CSV file into a DataFrame, then display the first few rows.

In [24]:
import pandas as pd

df = pd.read_csv("/content/Data Collection for ML mini project (Responses) - Form Responses 1.csv")
display(df.head())

,Timestamp,Age,"Height\nRange should be between 120 cm - 220 cm\nNote(Provide the height in integer for eg-124cm ,\n don't provide like 120.64)",Weight\nRange should be between 30 - 150 kg,Cuisine_top1,Cuisine_top2,Cuisine_top3,Spice Tolerance,Dietary Preference,Eating Out Per week,...,Hobby_top1,Hobby top2,Club top1,Club top 2,Weekly_hobby_hours \nprovide values integer between between 0-40,Introversion extraversion,Risk taking,Conscientiousness,Open to new experiences,"Teamwork preference \n Like: ( 1=Prefer Solo, 5=Prefer Teams)"
0,8/27/2025 11:13:12,Age-21,120,30,Mughlai,Bengali,Japanese,2,Jain,7,...,Cricket,Writing,Robotics Club,Music Club,0,2,2,2,2,3
1,8/27/2025 13:19:21,Age-19,167,50,Indian,Mexican,Street Food,5,Non-Veg,7,...,Coding,Cricket,Coding Club,Sports Club,40,3,2,3,5,3
2,8/27/2025 13:20:10,Age-20,167,60,Bengali,Mughlai,Italian,5,Non-Veg,3,...,Cricket,Coding,Coding Club,Sports Club,5,3,4,3,4,3
3,8/27/2025 13:21:56,Age-22,170,53,Indian,Chinese,Street Food,4,Non-Veg,7,...,Cricket,Music,Entrepreneurship Cell,Sports Club,10,5,5,5,5,5
4,8/27/2025 13:23:18,Age-21,167 cm,80 kg,Indian,Mughlai,Chinese,3,Non-Veg,4,...,Badminton,Debate,Literary Club,Entrepreneurship Cell,5,3,5,4,4,1

## Explore the data

### Subtask:
Perform basic exploratory data analysis to understand the structure, features, and target variable. This includes checking for missing values, data types, and distributions.

**Reasoning**:
Display the column names, print the info, and describe the dataframe to understand its structure, data types, and basic statistics.

In [25]:
print("Column Names:")
print(df.columns.tolist())
print("\nDataFrame Info:")
df.info()
print("\nDescriptive Statistics:")
display(df.describe())

Column Names:
['Timestamp', 'Age', "Height\nRange should be between 120 cm - 220 cm\nNote(Provide the height in integer for eg-124cm ,\n           don't provide like 120.64)", 'Weight\nRange should be between 30 - 150 kg', 'Cuisine_top1', 'Cuisine_top2', 'Cuisine_top3', 'Spice Tolerance', 'Dietary Preference', 'Eating Out Per week', 'Food Budget per meal Note: Provide integer value for eg like-199', 'Sweet tooth level (1 is low and 5 is high)', 'Tea vs Coffee', 'Movie_genre_top1', '  Movie_genre_top2  ', '  Movie_genre_top3 ', '  Series_genre_top1  ', '  Series_genre_top2  ', '  Series_genre_top3  ', '  Content_lang_top1  ', '  Content_lang_top2  ', '  Content_lang_top3  ', 'Ott Top1', 'Ott Top2', 'Ott Top3', '  Binge frequency per week  ', '  Screen Time Movies/series in hours per week  \n(Provide value between 0-40)', '  Gaming days per week  ', '  Gaming hours per week  \n(Provide Values in integer between 0-50)', '  Game Genre Top1', '  Game Genre Top2', '  Game Genre Top3  ', '  Gaming Platform Top1', '  Gaming Platform Top2 ', '  Gaming Platform Top3  ', '  Esports Viewing   ', '  Social Platform_Top1  ', '  Social Platform Top 2  ', '  Social Platform Top 3', '  Daily Social Media Minutes  \n(Provide values in integer between 0-600)', '  Primary Content Type  ', '  Content Creation Freq  ', '  Music Genre Top 1', '  Music Genre Top 2', '  Music Genre Top 3 ', '  Listening hours per day  ', '  Music language top 1', '  Music language top 2  ', '  Live concerts past year  ', '  Reads Books   ', '  Book Genre Top 1', '  Book Genre Top 2', '  Book Genre Top 3  ', '  Books read past year\nProvide in integer value between (0-50)  ', '  Fashion spend per month(in-inr)\nProvide values in integer   between (0-2000 numeric)', '  Shopping Mode Preference  ', '  Ethical shopping importance  ', '  Travel frequency per year\nChoose any value from here  ', '  Travel_type_top1  ', '  Travel_type_top2  ', '  Travel_type_top3', 'Budget per trip(in-Indian Rupees)\nProvide in integer values between 1000-100000', '  Travel Planning Preference  \n  numeric Like (1=Spontaneous, 5=Highly Planned)  ', 'Hobby_top1  ', '  Hobby top2  ', 'Club top1  ', 'Club top 2', 'Weekly_hobby_hours   \nprovide values integer between between 0-40', '  Introversion extraversion  ', '  Risk taking  ', '  Conscientiousness  ', '  Open to new experiences  ', '  Teamwork preference  \n  Like: ( 1=Prefer Solo, 5=Prefer Teams)  ']

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 73 columns):
 #   Column                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                  --------------  -----
 0   Timestamp                                                                                                                               111 non-null    object
 1   Age                                                                                                                                     111 non-null    object
 2   Height
Range should be between 120 cm - 220 cm
Note(Provide the height in integer for eg-124cm ,
           don't provide like 120.64)  111 non-null    object
 3   Weight
Range should be between 30 - 150 kg                                                                                              111 non-null    object
 4   Cuisine_top1                                                                                                                            111 non-null    object
 5   Cuisine_top2                                                                                                                            111 non-null    object
 6   Cuisine_top3                                                                                                                            111 non-null    object
 7   Spice Tolerance                                                                                                                         111 non-null    int64
 8   Dietary Preference                                                                                                                      111 non-null    object
 9   Eating Out Per week                                                                                                                     111 non-null    int64
 10  Food Budget per meal Note: Provide integer value for eg like-199                                                                        111 non-null    object
 11  Sweet tooth level (1 is low and 5 is high)                                                                                              111 non-null    int64
 12  Tea vs Coffee                                                                                                                           111 non-null    object
 13  Movie_genre_top1                                                                                                                        111 non-null    object
 14    Movie_genre_top2                                                                                                                      111 non-null    object
 15    Movie_genre_top3                                                                                                                      111 non-null    object
 16    Series_genre_top1                                                                                                                     111 non-null    object
 17    Series_genre_top2                                                                                                                     111 non-null    object
 18    Series_genre_top3                                                                                                                     111 non-null    object
 19    Content_lang_top1                                                                                                                     111 non-null    object
 20    Content_lang_top2                                                                                                                     111 non-null    object
 21    Content_lang_top3                                                                                                                     111 non-null    object
 22  Ott Top1                                                                                                                                111 non-null    object
 23  Ott Top2                                                                                                                                111 non-null    object
 24  Ott Top3                                                                                                                                111 non-null    object
 25    Binge frequency per week                                                                                                              111 non-null    int64
 26    Screen Time Movies/series in hours per week
(Provide value between 0-40)                                                            111 non-null    object
 27    Gaming days per week                                                                                                                  111 non-null    int64
 28    Gaming hours per week
(Provide Values in integer between 0-50)                                                                      111 non-null    object
 29    Game Genre Top1                                                                                                                       111 non-null    object
 30    Game Genre Top2                                                                                                                       111 non-null    object
 31    Game Genre Top3                                                                                                                       111 non-null    object
 32    Gaming Platform Top1                                                                                                                  111 non-null    object
 33    Gaming Platform Top2                                                                                                                  111 non-null    object
 34    Gaming Platform Top3                                                                                                                  111 non-null    object
 35    Esports Viewing                                                                                                                       111 non-null    object
 36    Social Platform_Top1                                                                                                                  111 non-null    object
 37    Social Platform Top 2                                                                                                                 111 non-null    object
 38    Social Platform Top 3                                                                                                                 111 non-null    object
 39    Daily Social Media Minutes
(Provide values in integer between 0-600)                                                                111 non-null    object
 40    Primary Content Type                                                                                                                  111 non-null    object
 41    Content Creation Freq                                                                                                                 111 non-null    object
 42    Music Genre Top 1                                                                                                                     111 non-null    object
 43    Music Genre Top 2                                                                                                                     111 non-null    object
 44    Music Genre Top 3                                                                                                                     111 non-null    object
 45    Listening hours per day                                                                                                               111 non-null    int64
 46    Music language top 1                                                                                                                  111 non-null    object
 47    Music language top 2                                                                                                                  111 non-null    object
 48    Live concerts past year                                                                                                               111 non-null    int64
 49    Reads Books                                                                                                                           111 non-null    object
 50    Book Genre Top 1                                                                                                                      111 non-null    object
 51    Book Genre Top 2                                                                                                                      111 non-null    object
 52    Book Genre Top 3                                                                                                                      111 non-null    object
 53    Books read past year
Provide in integer value between (0-50)                                                                          110 non-null    object
 54    Fashion spend per month(in-inr)
Provide values in integer   between (0-2000 numeric)                                                  111 non-null    object
 55    Shopping Mode Preference                                                                                                              111 non-null    object
 56    Ethical shopping importance                                                                                                           111 non-null    int64
 57    Travel frequency per year
Choose any value from here                                                                                  111 non-null    int64
 58    Travel_type_top1                                                                                                                      111 non-null    object
 59    Travel_type_top2                                                                                                                      111 non-null    object
 60    Travel_type_top3                                                                                                                      111 non-null    object
 61  Budget per trip(in-Indian Rupees)
Provide in integer values between 1000-100000                                                         108 non-null    object
 62    Travel Planning Preference
  numeric Like (1=Spontaneous, 5=Highly Planned)                                                         111 non-null    int64
 63  Hobby_top1                                                                                                                              111 non-null    object
 64    Hobby top2                                                                                                                            111 non-null    object
 65  Club top1                                                                                                                               111 non-null    object
 66  Club top 2                                                                                                                              111 non-null    object
 67  Weekly_hobby_hours
provide values integer between between 0-40                                                                       111 non-null    object
 68    Introversion extraversion                                                                                                             111 non-null    int64
 69    Risk taking                                                                                                                           111 non-null    int64
 70    Conscientiousness                                                                                                                     111 non-null    int64
 71    Open to new experiences                                                                                                               111 non-null    int64
 72    Teamwork preference
  Like: ( 1=Prefer Solo, 5=Prefer Teams)                                                                        111 non-null    int64
dtypes: int64(15), object(58)
memory usage: 63.4+ KB

Descriptive Statistics:

,Spice Tolerance,Eating Out Per week,Sweet tooth level (1 is low and 5 is high),Binge frequency per week,Gaming days per week,Listening hours per day,Live concerts past year,Ethical shopping importance,Travel frequency per year\nChoose any value from here,"Travel Planning Preference \n numeric Like (1=Spontaneous, 5=Highly Planned)",Introversion extraversion,Risk taking,Conscientiousness,Open to new experiences,"Teamwork preference \n Like: ( 1=Prefer Solo, 5=Prefer Teams)"
count,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000
mean,3.450450,3.405405,3.018018,2.666667,3.189189,3.171171,1.198198,3.261261,3.333333,2.936937,3.036036,3.675676,3.531532,3.981982,3.648649
std,1.211601,2.602022,1.243031,1.908514,2.664629,2.568600,1.715278,1.241053,2.967501,1.252483,1.159372,1.129458,1.016409,1.111772,1.255161
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000,3.000000,1.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000
50%,4.000000,3.000000,3.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,3.000000,3.000000,4.000000,3.000000,4.000000,4.000000
75%,4.000000,5.000000,4.000000,4.000000,6.000000,4.000000,2.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,5.000000
max,5.000000,10.000000,5.000000,7.000000,7.000000,10.000000,10.000000,5.000000,12.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

**Reasoning**:
Check the number of unique values in the categorical features and the distribution of the target variable to understand their variety and frequency.

In [26]:
print("\nUnique values in 'Reads Books':")
print(df['  Reads Books   '].value_counts())
print("\nUnique values in 'Book Genre Top 1':")
print(df['  Book Genre Top 1'].value_counts())
print("\nDistribution of 'Books read past year':")
print(df['  Books read past year\nProvide in integer value between (0-50)  '].value_counts())

Unique values in 'Reads Books':
  Reads Books
Sometimes    72
Regularly    26
No           13
Name: count, dtype: int64

Unique values in 'Book Genre Top 1':
  Book Genre Top 1
Fiction        47
Self-Help      16
Tech           11
Sci-Fi         10
Biography      10
Fantasy        10
Non-Fiction     7
Name: count, dtype: int64

Distribution of 'Books read past year':
  Books read past year\nProvide in integer value between (0-50)
2        16
5        13
0        11
10        9
20        9
3         7
1         5
8         4
50        4
4         4
12        3
7         3
40        3
15        2
30        2
25        2
9-10      1
05        1
24        1
23        1
9         1
6         1
41        1
18        1
25-28     1
16        1
34        1
22        1
No        1
Name: count, dtype: int64

## Prepare the data

### Subtask:
Handle categorical features and missing values, and split the data into training and testing sets.

**Reasoning**:
Select relevant columns, clean the target variable, handle missing values, and one-hot encode categorical features in preparation for splitting the data.

In [27]:
from sklearn.model_selection import train_test_split
import numpy as np

# 1. Select the relevant columns
selected_cols = ['  Reads Books   ', '  Book Genre Top 1', '  Screen Time Movies/series in hours per week  \n(Provide value between 0-40)', '  Books read past year\nProvide in integer value between (0-50)  ']
df_selected = df[selected_cols].copy()

# 2. Clean the target variable column
target_col = '  Books read past year\nProvide in integer value between (0-50)  '

# Replace ranges with lower bound, 'No' with 0, and convert to numeric, coercing errors to NaN
df_selected[target_col] = df_selected[target_col].astype(str).str.split('-').str[0]
df_selected[target_col] = pd.to_numeric(df_selected[target_col], errors='coerce')

# Clean the screen time column
screen_time_col = '  Screen Time Movies/series in hours per week  \n(Provide value between 0-40)'
# Remove 'hrs', 'hours', 'hr' and any extra spaces, then convert to numeric, coercing errors to NaN
df_selected[screen_time_col] = df_selected[screen_time_col].astype(str).str.replace(r'[^\d.-]+', '', regex=True)
df_selected[screen_time_col] = pd.to_numeric(df_selected[screen_time_col], errors='coerce')


# 3. Handle missing values
# For simplicity, we will drop rows with missing values in the selected columns
df_selected.dropna(inplace=True)

# Ensure the target variable is integer after cleaning and dropping NaNs
df_selected[target_col] = df_selected[target_col].astype(int)


# 4. Convert categorical features into numerical representations using one-hot encoding
categorical_cols = ['  Reads Books   ', '  Book Genre Top 1']
df_processed = pd.get_dummies(df_selected, columns=categorical_cols, drop_first=True)


# 5. Define the features (X) and the target variable (y)
X = df_processed.drop(target_col, axis=1)
y = df_processed[target_col]

# 6. Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (82, 9)
Shape of X_test: (21, 9)
Shape of y_train: (82,)
Shape of y_test: (21,)

## Finish task

### Subtask:
Summarize the findings and present the final model.

**Reasoning**:
Summarize the model performance metrics and discuss the potential implications for mentorship allocation.

The regression model was built to predict student study time (`books_read_past_year`) based on `reads_books`, `book_genre_top1`, and `screen_time_movies_series_hours_per_week`.

**Model Performance:**
- Mean Absolute Error (MAE): {{mae:.2f}}
- Mean Squared Error (MSE): {{mse:.2f}}
- Root Mean Squared Error (RMSE): {{rmse:.2f}}
- R-squared (R2): {{r2:.2f}}

The R-squared value is quite low ({{r2:.2f}}), which suggests that the selected features do not explain a large portion of the variance in the target variable (books read past year). This indicates that other factors not included in this model likely have a stronger influence on the number of books a student reads.

**Implications for Mentorship Allocation:**
While this initial model provides some insight, its predictive power is limited. Relying solely on this model for mentorship allocation might not be effective. To improve the model and better inform mentorship decisions, consider the following:

- **Include more relevant features:** Explore other variables in the dataset or gather additional data that might be better indicators of study time (e.g., academic performance, course load, motivation levels, actual study hours if available).
- **Try different regression models:** Experiment with other regression algorithms (e.g., Ridge, Lasso, Elastic Net, Decision Trees, Random Forests, Gradient Boosting) that might capture non-linear relationships or interactions between features.
- **Feature engineering:** Create new features from existing ones that could be more predictive.
- **Collect more data:** A larger dataset could improve the model's ability to learn patterns.

Based on the current model's performance, it is recommended to use these results with caution and to explore the suggestions above for building a more robust predictor of student study time.

## Predict study time

### Subtask:
Use the trained model to predict study time for new data.

**Reasoning**:
Create a sample of new data with the same features as the training data and use the `predict()` method of the trained model to predict the study time.

In [28]:
# Create a sample of new data (replace with actual new data)
# The new data should have the same features as the training data (X_train)
# For demonstration purposes, let's create a sample data point
new_data = {
    '  Screen Time Movies/series in hours per week  \n(Provide value between 0-40)': [10],
    '  Reads Books   _Regularly': [False],
    '  Reads Books   _Sometimes': [True],
    '  Book Genre Top 1_Fantasy': [False],
    '  Book Genre Top 1_Fiction': [True],
    '  Book Genre Top 1_Non-Fiction': [False],
    '  Book Genre Top 1_Sci-Fi': [False],
    '  Book Genre Top 1_Self-Help': [False],
    '  Book Genre Top 1_Tech': [False]
}

# Convert the new data to a DataFrame
import pandas as pd
new_data_df = pd.DataFrame(new_data)

# Ensure the columns are in the same order as the training data
new_data_df = new_data_df[X_train.columns]


# Predict study time for the new data
predicted_study_time = model.predict(new_data_df)

print(f"Predicted study time: {predicted_study_time[0]:.2f}")

Predicted study time: 8.39

## Evaluate the model

### Subtask:
Evaluate the model's performance on the testing data using appropriate regression metrics.

**Reasoning**:
Use the trained model to make predictions on the test set and calculate evaluation metrics such as Mean Absolute Error (MAE), Mean Squared Error (MSE), and R-squared.

In [29]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R-squared (R2): {r2:.2f}")

Mean Absolute Error (MAE): 10.09
Mean Squared Error (MSE): 142.41
Root Mean Squared Error (RMSE): 11.93
R-squared (R2): 0.07

## Build the regression model

### Subtask:
Choose and train a regression model using the training data.

**Reasoning**:
Import the Linear Regression model from scikit-learn, initialize it, and train the model using the training data.

In [30]:
from sklearn.linear_model import LinearRegression

# Initialize the Linear Regression model
model = LinearRegression()

# Train the model using the training data
model.fit(X_train, y_train)

print("Model training complete.")

Model training complete.

## Prepare the data

### Subtask:
Handle categorical features and missing values, and split the data into training and testing sets.

**Reasoning**:
Select relevant columns, clean the target variable, handle missing values, and one-hot encode categorical features in preparation for splitting the data.

In [31]:
from sklearn.model_selection import train_test_split
import numpy as np

# 1. Select the relevant columns
selected_cols = ['  Reads Books   ', '  Book Genre Top 1', '  Screen Time Movies/series in hours per week  \n(Provide value between 0-40)', '  Books read past year\nProvide in integer value between (0-50)  ']
df_selected = df[selected_cols].copy()

# 2. Clean the target variable column
target_col = '  Books read past year\nProvide in integer value between (0-50)  '

# Replace ranges with lower bound, 'No' with 0, and convert to numeric, coercing errors to NaN
df_selected[target_col] = df_selected[target_col].astype(str).str.split('-').str[0]
df_selected[target_col] = pd.to_numeric(df_selected[target_col], errors='coerce')

# Clean the screen time column
screen_time_col = '  Screen Time Movies/series in hours per week  \n(Provide value between 0-40)'
# Remove 'hrs', 'hours', 'hr' and any extra spaces, then convert to numeric, coercing errors to NaN
df_selected[screen_time_col] = df_selected[screen_time_col].astype(str).str.replace(r'[^\d.-]+', '', regex=True)
df_selected[screen_time_col] = pd.to_numeric(df_selected[screen_time_col], errors='coerce')


# 3. Handle missing values
# For simplicity, we will drop rows with missing values in the selected columns
df_selected.dropna(inplace=True)

# Ensure the target variable is integer after cleaning and dropping NaNs
df_selected[target_col] = df_selected[target_col].astype(int)


# 4. Convert categorical features into numerical representations using one-hot encoding
categorical_cols = ['  Reads Books   ', '  Book Genre Top 1']
df_processed = pd.get_dummies(df_selected, columns=categorical_cols, drop_first=True)


# 5. Define the features (X) and the target variable (y)
X = df_processed.drop(target_col, axis=1)
y = df_processed[target_col]

# 6. Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (82, 9)
Shape of X_test: (21, 9)
Shape of y_train: (82,)
Shape of y_test: (21,)

**Reasoning**:
Check the number of unique values in the categorical features and the distribution of the target variable to understand their variety and frequency.

In [32]:
print("\nUnique values in 'Reads Books':")
print(df['  Reads Books   '].value_counts())
print("\nUnique values in 'Book Genre Top 1':")
print(df['  Book Genre Top 1'].value_counts())
print("\nDistribution of 'Books read past year':")
print(df['  Books read past year\nProvide in integer value between (0-50)  '].value_counts())

Unique values in 'Reads Books':
  Reads Books
Sometimes    72
Regularly    26
No           13
Name: count, dtype: int64

Unique values in 'Book Genre Top 1':
  Book Genre Top 1
Fiction        47
Self-Help      16
Tech           11
Sci-Fi         10
Biography      10
Fantasy        10
Non-Fiction     7
Name: count, dtype: int64

Distribution of 'Books read past year':
  Books read past year\nProvide in integer value between (0-50)
2        16
5        13
0        11
10        9
20        9
3         7
1         5
8         4
50        4
4         4
12        3
7         3
40        3
15        2
30        2
25        2
9-10      1
05        1
24        1
23        1
9         1
6         1
41        1
18        1
25-28     1
16        1
34        1
22        1
No        1
Name: count, dtype: int64

## Explore the data

### Subtask:
Perform basic exploratory data analysis to understand the structure, features, and target variable. This includes checking for missing values, data types, and distributions.

**Reasoning**:
Display the column names, print the info, and describe the dataframe to understand its structure, data types, and basic statistics.

In [33]:
print("Column Names:")
print(df.columns.tolist())
print("\nDataFrame Info:")
df.info()
print("\nDescriptive Statistics:")
display(df.describe())

Column Names:
['Timestamp', 'Age', "Height\nRange should be between 120 cm - 220 cm\nNote(Provide the height in integer for eg-124cm ,\n           don't provide like 120.64)", 'Weight\nRange should be between 30 - 150 kg', 'Cuisine_top1', 'Cuisine_top2', 'Cuisine_top3', 'Spice Tolerance', 'Dietary Preference', 'Eating Out Per week', 'Food Budget per meal Note: Provide integer value for eg like-199', 'Sweet tooth level (1 is low and 5 is high)', 'Tea vs Coffee', 'Movie_genre_top1', '  Movie_genre_top2  ', '  Movie_genre_top3 ', '  Series_genre_top1  ', '  Series_genre_top2  ', '  Series_genre_top3  ', '  Content_lang_top1  ', '  Content_lang_top2  ', '  Content_lang_top3  ', 'Ott Top1', 'Ott Top2', 'Ott Top3', '  Binge frequency per week  ', '  Screen Time Movies/series in hours per week  \n(Provide value between 0-40)', '  Gaming days per week  ', '  Gaming hours per week  \n(Provide Values in integer between 0-50)', '  Game Genre Top1', '  Game Genre Top2', '  Game Genre Top3  ', '  Gaming Platform Top1', '  Gaming Platform Top2 ', '  Gaming Platform Top3  ', '  Esports Viewing   ', '  Social Platform_Top1  ', '  Social Platform Top 2  ', '  Social Platform Top 3', '  Daily Social Media Minutes  \n(Provide values in integer between 0-600)', '  Primary Content Type  ', '  Content Creation Freq  ', '  Music Genre Top 1', '  Music Genre Top 2', '  Music Genre Top 3 ', '  Listening hours per day  ', '  Music language top 1', '  Music language top 2  ', '  Live concerts past year  ', '  Reads Books   ', '  Book Genre Top 1', '  Book Genre Top 2', '  Book Genre Top 3  ', '  Books read past year\nProvide in integer value between (0-50)  ', '  Fashion spend per month(in-inr)\nProvide values in integer   between (0-2000 numeric)', '  Shopping Mode Preference  ', '  Ethical shopping importance  ', '  Travel frequency per year\nChoose any value from here  ', '  Travel_type_top1  ', '  Travel_type_top2  ', '  Travel_type_top3', 'Budget per trip(in-Indian Rupees)\nProvide in integer values between 1000-100000', '  Travel Planning Preference  \n  numeric Like (1=Spontaneous, 5=Highly Planned)  ', 'Hobby_top1  ', '  Hobby top2  ', 'Club top1  ', 'Club top 2', 'Weekly_hobby_hours   \nprovide values integer between between 0-40', '  Introversion extraversion  ', '  Risk taking  ', '  Conscientiousness  ', '  Open to new experiences  ', '  Teamwork preference  \n  Like: ( 1=Prefer Solo, 5=Prefer Teams)  ']

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 73 columns):
 #   Column                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                  --------------  -----
 0   Timestamp                                                                                                                               111 non-null    object
 1   Age                                                                                                                                     111 non-null    object
 2   Height
Range should be between 120 cm - 220 cm
Note(Provide the height in integer for eg-124cm ,
           don't provide like 120.64)  111 non-null    object
 3   Weight
Range should be between 30 - 150 kg                                                                                              111 non-null    object
 4   Cuisine_top1                                                                                                                            111 non-null    object
 5   Cuisine_top2                                                                                                                            111 non-null    object
 6   Cuisine_top3                                                                                                                            111 non-null    object
 7   Spice Tolerance                                                                                                                         111 non-null    int64
 8   Dietary Preference                                                                                                                      111 non-null    object
 9   Eating Out Per week                                                                                                                     111 non-null    int64
 10  Food Budget per meal Note: Provide integer value for eg like-199                                                                        111 non-null    object
 11  Sweet tooth level (1 is low and 5 is high)                                                                                              111 non-null    int64
 12  Tea vs Coffee                                                                                                                           111 non-null    object
 13  Movie_genre_top1                                                                                                                        111 non-null    object
 14    Movie_genre_top2                                                                                                                      111 non-null    object
 15    Movie_genre_top3                                                                                                                      111 non-null    object
 16    Series_genre_top1                                                                                                                     111 non-null    object
 17    Series_genre_top2                                                                                                                     111 non-null    object
 18    Series_genre_top3                                                                                                                     111 non-null    object
 19    Content_lang_top1                                                                                                                     111 non-null    object
 20    Content_lang_top2                                                                                                                     111 non-null    object
 21    Content_lang_top3                                                                                                                     111 non-null    object
 22  Ott Top1                                                                                                                                111 non-null    object
 23  Ott Top2                                                                                                                                111 non-null    object
 24  Ott Top3                                                                                                                                111 non-null    object
 25    Binge frequency per week                                                                                                              111 non-null    int64
 26    Screen Time Movies/series in hours per week
(Provide value between 0-40)                                                            111 non-null    object
 27    Gaming days per week                                                                                                                  111 non-null    int64
 28    Gaming hours per week
(Provide Values in integer between 0-50)                                                                      111 non-null    object
 29    Game Genre Top1                                                                                                                       111 non-null    object
 30    Game Genre Top2                                                                                                                       111 non-null    object
 31    Game Genre Top3                                                                                                                       111 non-null    object
 32    Gaming Platform Top1                                                                                                                  111 non-null    object
 33    Gaming Platform Top2                                                                                                                  111 non-null    object
 34    Gaming Platform Top3                                                                                                                  111 non-null    object
 35    Esports Viewing                                                                                                                       111 non-null    object
 36    Social Platform_Top1                                                                                                                  111 non-null    object
 37    Social Platform Top 2                                                                                                                 111 non-null    object
 38    Social Platform Top 3                                                                                                                 111 non-null    object
 39    Daily Social Media Minutes
(Provide values in integer between 0-600)                                                                111 non-null    object
 40    Primary Content Type                                                                                                                  111 non-null    object
 41    Content Creation Freq                                                                                                                 111 non-null    object
 42    Music Genre Top 1                                                                                                                     111 non-null    object
 43    Music Genre Top 2                                                                                                                     111 non-null    object
 44    Music Genre Top 3                                                                                                                     111 non-null    object
 45    Listening hours per day                                                                                                               111 non-null    int64
 46    Music language top 1                                                                                                                  111 non-null    object
 47    Music language top 2                                                                                                                  111 non-null    object
 48    Live concerts past year                                                                                                               111 non-null    int64
 49    Reads Books                                                                                                                           111 non-null    object
 50    Book Genre Top 1                                                                                                                      111 non-null    object
 51    Book Genre Top 2                                                                                                                      111 non-null    object
 52    Book Genre Top 3                                                                                                                      111 non-null    object
 53    Books read past year
Provide in integer value between (0-50)                                                                          110 non-null    object
 54    Fashion spend per month(in-inr)
Provide values in integer   between (0-2000 numeric)                                                  111 non-null    object
 55    Shopping Mode Preference                                                                                                              111 non-null    object
 56    Ethical shopping importance                                                                                                           111 non-null    int64
 57    Travel frequency per year
Choose any value from here                                                                                  111 non-null    int64
 58    Travel_type_top1                                                                                                                      111 non-null    object
 59    Travel_type_top2                                                                                                                      111 non-null    object
 60    Travel_type_top3                                                                                                                      111 non-null    object
 61  Budget per trip(in-Indian Rupees)
Provide in integer values between 1000-100000                                                         108 non-null    object
 62    Travel Planning Preference
  numeric Like (1=Spontaneous, 5=Highly Planned)                                                         111 non-null    int64
 63  Hobby_top1                                                                                                                              111 non-null    object
 64    Hobby top2                                                                                                                            111 non-null    object
 65  Club top1                                                                                                                               111 non-null    object
 66  Club top 2                                                                                                                              111 non-null    object
 67  Weekly_hobby_hours
provide values integer between between 0-40                                                                       111 non-null    object
 68    Introversion extraversion                                                                                                             111 non-null    int64
 69    Risk taking                                                                                                                           111 non-null    int64
 70    Conscientiousness                                                                                                                     111 non-null    int64
 71    Open to new experiences                                                                                                               111 non-null    int64
 72    Teamwork preference
  Like: ( 1=Prefer Solo, 5=Prefer Teams)                                                                        111 non-null    int64
dtypes: int64(15), object(58)
memory usage: 63.4+ KB

Descriptive Statistics:

,Spice Tolerance,Eating Out Per week,Sweet tooth level (1 is low and 5 is high),Binge frequency per week,Gaming days per week,Listening hours per day,Live concerts past year,Ethical shopping importance,Travel frequency per year\nChoose any value from here,"Travel Planning Preference \n numeric Like (1=Spontaneous, 5=Highly Planned)",Introversion extraversion,Risk taking,Conscientiousness,Open to new experiences,"Teamwork preference \n Like: ( 1=Prefer Solo, 5=Prefer Teams)"
count,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000
mean,3.450450,3.405405,3.018018,2.666667,3.189189,3.171171,1.198198,3.261261,3.333333,2.936937,3.036036,3.675676,3.531532,3.981982,3.648649
std,1.211601,2.602022,1.243031,1.908514,2.664629,2.568600,1.715278,1.241053,2.967501,1.252483,1.159372,1.129458,1.016409,1.111772,1.255161
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000,3.000000,1.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000
50%,4.000000,3.000000,3.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,3.000000,3.000000,4.000000,3.000000,4.000000,4.000000
75%,4.000000,5.000000,4.000000,4.000000,6.000000,4.000000,2.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,5.000000
max,5.000000,10.000000,5.000000,7.000000,7.000000,10.000000,10.000000,5.000000,12.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

**Reasoning**:
Create a sample of new data with the same features as the training data and use the `predict()` method of the trained model to predict the study time.

In [34]:
# Create a sample of new data (replace with actual new data)
# The new data should have the same features as the training data (X_train)
# For demonstration purposes, let's create a sample data point
new_data = {
    '  Screen Time Movies/series in hours per week  \n(Provide value between 0-40)': [10],
    '  Reads Books   _Regularly': [False],
    '  Reads Books   _Sometimes': [True],
    '  Book Genre Top 1_Fantasy': [False],
    '  Book Genre Top 1_Fiction': [True],
    '  Book Genre Top 1_Non-Fiction': [False],
    '  Book Genre Top 1_Sci-Fi': [False],
    '  Book Genre Top 1_Self-Help': [False],
    '  Book Genre Top 1_Tech': [False]
}

# Convert the new data to a DataFrame
import pandas as pd
new_data_df = pd.DataFrame(new_data)

# Ensure the columns are in the same order as the training data
new_data_df = new_data_df[X_train.columns]


# Predict study time for the new data
predicted_study_time = model.predict(new_data_df)

print(f"Predicted study time: {predicted_study_time[0]:.2f}")

Predicted study time: 8.39

## Finish task

### Subtask:
Summarize the findings and present the final model.

**Reasoning**:
Summarize the model performance metrics and discuss the potential implications for mentorship allocation.

The regression model was built to predict student study time (`books_read_past_year`) based on `reads_books`, `book_genre_top1`, and `screen_time_movies_series_hours_per_week`.

**Model Performance:**
- Mean Absolute Error (MAE): {{mae:.2f}}
- Mean Squared Error (MSE): {{mse:.2f}}
- Root Mean Squared Error (RMSE): {{rmse:.2f}}
- R-squared (R2): {{r2:.2f}}

The R-squared value is quite low ({{r2:.2f}}), which suggests that the selected features do not explain a large portion of the variance in the target variable (books read past year). This indicates that other factors not included in this model likely have a stronger influence on the number of books a student reads.

**Implications for Mentorship Allocation:**
While this initial model provides some insight, its predictive power is limited. Relying solely on this model for mentorship allocation might not be effective. To improve the model and better inform mentorship decisions, consider the following:

- **Include more relevant features:** Explore other variables in the dataset or gather additional data that might be better indicators of study time (e.g., academic performance, course load, motivation levels, actual study hours if available).
- **Try different regression models:** Experiment with other regression algorithms (e.g., Ridge, Lasso, Elastic Net, Decision Trees, Random Forests, Gradient Boosting) that might capture non-linear relationships or interactions between features.
- **Feature engineering:** Create new features from existing ones that could be more predictive.
- **Collect more data:** A larger dataset could improve the model's ability to learn patterns.

Based on the current model's performance, it is recommended to use these results with caution and to explore the suggestions above for building a more robust predictor of student study time.

## Predict study time

### Subtask:
Use the trained model to predict study time for new data.

## Evaluate the model

### Subtask:
Evaluate the model's performance on the testing data using appropriate regression metrics.

**Reasoning**:
Use the trained model to make predictions on the test set and calculate evaluation metrics such as Mean Absolute Error (MAE), Mean Squared Error (MSE), and R-squared.

In [35]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Make predictions on the test data
y_pred = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R-squared (R2): {r2:.2f}")

Mean Absolute Error (MAE): 10.09
Mean Squared Error (MSE): 142.41
Root Mean Squared Error (RMSE): 11.93
R-squared (R2): 0.07

## Build the regression model

### Subtask:
Choose and train a regression model using the training data.

**Reasoning**:
Import the Linear Regression model from scikit-learn, initialize it, and train the model using the training data.

In [36]:
from sklearn.linear_model import LinearRegression

# Initialize the Linear Regression model
model = LinearRegression()

# Train the model using the training data
model.fit(X_train, y_train)

print("Model training complete.")

Model training complete.

**Reasoning**:
The previous attempt failed because of a KeyError, indicating that the column name ' screen_time_movies_series_hours_per_week' was not found in the DataFrame. This is likely due to leading or trailing spaces or other hidden characters in the column name. I need to find the correct column name and use it to select the relevant columns. I will inspect the column names again to identify the correct name for the screen time column and then retry the selection and subsequent data processing steps.